<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CoinApi2</servlet-name>
        <servlet-class>com.talhacgdem.coinapi.CoinApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsApi</servlet-name>
        <servlet-class>com.talhacgdem.coinapi.NewsApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoinApi2</servlet-name>
        <url-pattern>/coinapi2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsApi</servlet-name>
        <url-pattern>/newsapi</url-pattern>
    </servlet-mapping>
</web-app>
